* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

img {
    max-width: 100%;
}

.btn {
    font-weight: 700;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid gray;
}

.delete-btn {
    background-color: rgb(49, 126, 208);
    color: white;
    border-color: white;
}

.btn:hover {
    opacity: 0.7;
}

form {
    margin: 15px 0;
}

input[type=text],
input[type=number],
input[type=password],
textarea,
select {
    border: 1px solid #2B2B2B;
    font-size: 1em;
    padding: 3px;
    margin: 3px 0;
    border-radius: 3px;
    width: 240px;
}

input[type=file] {
    margin: 10px 0;
}

.error {
    border: 2px solid red;
    padding: 0 15px;
    font-weight: 700;
}

/* -- Header -- */

header {
    min-height: 300px;
    height: 35vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    color: #F2F2EF;
    font-size: 5em;
    text-shadow: 3px 3px 6px #4853ef;
}

.home-header {
    min-height: 600px;
    height: 35vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}


/* -- Nav -- */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 4px 2px rgb(0 0 0 / 20%)
}

nav a {
    font-size: 0.9em;
    text-decoration: none;
    color: #2B2B2B;
    font-weight: 600;
    padding: 15px 25px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

nav a:hover {
    opacity: 0.7;
}

/* -- Main -- */

main {
    flex-grow: 1;
    margin: auto;
    padding: 0 20px;
    width: 100%;
}



/* -- Footer -- */

footer {
    background-color: #f2f2f2;
    padding: 20px 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    padding: 40px;
}

.footer-section {
    flex-basis: 25%;
}

.footer-logo {
    width: 100px; /* Adjust the size as needed */
    height: auto;
    margin-bottom: 10px;
}

.newsletter-input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.newsletter-button {
    padding: 5px 10px;
}

.footer-pages li {
    margin-bottom: 5px;
    list-style: none;
    padding-left: 0px;
}

.footer-pages ul {
    margin-bottom: 5px;
    list-style: none;
    padding: 0px;
}

.social-media li {
    display: inline-block;
    margin-right: 10px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}




/* -- Header Home -- */
.home-header {
    position: relative;
    height: 300px; /* Adjust the height as needed */
    overflow: hidden;
  }
  
  .carousel-images {
    display: flex;
    width: 300%; /* Adjust the width based on the number of images */
    animation: carousel-animation 9s infinite;
  }
  
  .carousel-images img {
    flex: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .carousel-indicators button {
    width: 12px;
    height: 12px;
    border: none;
    border-radius: 50%;
    margin: 0 6px;
    padding: 0;
    background-color: #ccc;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s;
  }
  
  .carousel-indicators button.active {
    background-color: #555;
    opacity: 1;
  }
  
  @keyframes carousel-animation {
    0% {
      transform: translateX(0);
    }
    33.33% {
      transform: translateX(-100%);
    }
    66.66% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(0);
    }
  }

/* -- Articles Home -- */
.h1-home {
  margin-left: 20%;
}
.home-articles {
    display: flex;
    justify-content: center;
    padding: 30px;
    width: 60%;
    margin: 0 auto; 
    
}

.home-articles-item {
align-content: center;}


.home-column{
    padding: 30px;
    align-items: center;

}


/* -- Items -- */


main > div ,
.item-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

article.item {
    width: 25%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #e4e4e4;
}

article.item b {
    padding-top: 5px;
}

article.item > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

article.item a,
article.item a:visited{
    color: rgb(0, 0, 238);
}

/* -- Solo item -- */
div.solo-item{
    text-align: center;
    display: block;
}

div.solo-item img{
    max-width: 420px;
    margin: 0 auto 15px;
}

/* -- profile page -- */

.profile-page {
    display: flex;;
    justify-content: center;
    max-width: 80%;
}