* {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(246, 242, 238);
}
img {
    max-width: 100%;
}
h1{
    font-family: Helvetica, sans-serif;
    font-weight: 200;
    font-size: 28px;
    color: brown;
    margin-top: 56px;
    margin-bottom: 0;
    text-align: center;
    display: block;
}
h2{
    color: brown;
    font-weight: 400;
}
p{
    margin-bottom: 40px;
}
a{
    color: #2B2B2B;
}
#showBtn{
    text-decoration: none;
    color: brown;
    border: 2px solid brown;
    border-radius: 8px;
    padding: 8px;
}
.btn {
    font-weight: 700;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid gray;
}
.delete-btn {
    background-color: rgb(49, 126, 208);
    color: white;
    border-color: white;
}
.btn:hover {
    opacity: 0.7;
}
form {
    margin: 20px 0;
}
#newBlogForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input[type=text],
input[type=number],
input[type=password],
textarea,
select {
    border: 1px solid #2B2B2B;
    font-size: 1em;
    padding: 3px;
    margin: 3px 0;
    border-radius: 3px;
    width: 240px;
}
input[type=file] {
    margin: 10px 0;
}
.error {
    border: 2px solid red;
    padding: 0 15px;
    font-weight: 700;
}

/* -- Header -- */
header {
    min-height: 300px;
    height: 35vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1 {
    color: #F2F2EF;
    font-size: 5em;
}
.home-header {
    min-height: 600px;
    height: 35vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}


/* -- Nav -- */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2B2B2B;
}
nav a {
    font-size: 0.9em;
    text-decoration: none;
    color: #e4e4e4;
    font-weight: 600;
    padding: 25px 25px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
nav a:hover {
    opacity: 0.7;
}

/* -- Main -- */
main {
    flex: 1;
    width: 100%;
    height: 100%;
}


/* -- Footer -- */
footer {
    background-color: #2B2B2B;
    color: #F2F2EF;
    padding: 20px 0;
    width: 100%;
    flex-shrink: 0;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    padding: 40px;
}
.footer-section {
    flex-basis: 25%;
}
#logo {
    font-weight: 800;
    font-style: italic;
}
.newsletter-input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}
.newsletter-button {
    padding: 5px 10px;
}
.footer-pages li {
    margin-bottom: 5px;
    list-style: none;
    padding-left: 0px;
}
.footer-pages ul {
    margin-bottom: 5px;
    list-style: none;
    padding: 0px;
}
.social-media li {
    display: inline-block;
    margin-right: 10px;
}
.footer-bottom {
    text-align: center;
    margin-top: 20px;
}
footer a {
    text-decoration: none;
    color: #e0e0e0;
    padding: 20px 20px;
}


/* -- Header Home -- */
.hero {
    position: relative;
    height: 900px; /* Adjust the height as needed */
    z-index: 0;
    margin: 0;
  }
.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
.hero h1{
    position: absolute;
    bottom: 12px; /* move the headline to the bottom */
    left: 20px; /* move the headline to the left */
    margin: 0;
    font-size: 200px;
    font-weight: 400;
    font-family: Arial, sans-serif;
    color: #F6F5F0;
}


/* -- Articles Home -- */
.h1-home {
    font-family: Helvetica, sans-serif;
    font-weight: 200;
    font-size: 28px;
    color: brown;
    margin-top: 56px;
    margin-bottom: 0;
    text-align: center;
    display: block;

}
.home-articles {
    display: flex;
    justify-content: center;
    padding: 30px;
    width: 70%;
    margin: 0 auto;  
}
.home-articles-item {
align-content: center;
}
.home-column{
    padding: 30px;
    align-items: center;

}


/* -- Items -- */
main > div ,
.item-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}
article.item {
    width: 25%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #e4e4e4;
}
article.item > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
article.item a{
    text-decoration: none;
    color: brown;
    border: 2px solid brown;
    border-radius: 8px;
    padding: 8px;
    margin-top: 8px;
    width: fit-content;
}


/* -- Solo item -- */
div.solo-item{
    text-align: center;
    display: block;
}
div.solo-item img{
    max-width: 420px;
    margin: 0 auto 15px;
}

/* -- profile page -- */
#profileDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 10%;
}
#logOut{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

/* -- log in page -- */
#logIn{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 10%;
}

/* -- My blogs page -- */
#buttonDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

#creatNew{
    text-decoration: none;
    color: rgb(232, 226, 226);
    background-color: #2B2B2B;
    border: 2px solid #2B2B2B;
    border-radius: 8px;
    padding: 8px;
    margin-top: 8px;
    width: max-content;
}

/* -- edit blog page -- */
#editDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 10%;
}

/* -- show blog page -- */
#blogPostImg{
    width: 100%;
    height: 80%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
#blogContent{
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 15%;
}